<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/userpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <ul>
        <li><a><i class="fa fa-mobile-phone" style="font-size:25px;color:white;font-style: italic;"> Mobi Hub</i></a></li>
        <li style="float:right"><a class="active" href="/"><i class="fa fa-sign-in" style="font-style: italic; font-size:25px;color:white"> Logout</i></a></li>
    </ul>

    <div class="tab">
        <a href="/adminhome" class="tablinks">Home</a>
        <a href="/Dailysales" class="tablinks">Daily Sales</a>
        <a href="/userlogs" class="tablinks">Daily user Logs</a>
    </div>



    <div id="userlogs" class="tabcontent">
        <table>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Login date</th>
            </tr>
            <% if (products.length > 0) { %>
                <% for (let product of products) { %>
                    <tr>
                        <td>
                            <%= product.username %>
                        </td>
                        <td>
                            <%= product.time %>
                        </td>
                        <td>
                            <%= product.date %>
                        </td>
                    </tr>
                    <% } %>
                        <% } else { %>
                            <h1>User login details not Found!</h1>
                            <% } %>
        </table>

    </div>


    <script src="./js/userpage.js">
    </script>

</body>

</html>