body {
    background-image: url("https://ak6.picdn.net/shutterstock/videos/1015277086/thumb/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.4);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    background-color: black;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #DC143C;
}

.login-card {
    width: 60%;
    background-color: rgba(52, 173, 173, 0.4);
    height: 100%;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 5%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    outline: none;
    color: white;
    background: orangered;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 20px;
}